html {
  scroll-behavior: smooth;
}

body {
  background:var(--color-N05);
  color:var(--color-N90);
  font-feature-settings: "dlig" 1, "calt" 1;
}

.content-grid {
  max-width:1540px;
  margin:0 auto;
  justify-content:center;
  display:grid;
  grid-template-columns:repeat(12, 1fr);
  gap:var(--column-gap);
}

.full-grid {
  display:grid;
  grid-template-columns:repeat(12, 1fr);
  width:100%;
  gap:var(--column-gap);
}

@media (max-width: 48em) {
  .content-grid {
    padding:0 1.25rem;
  }
  .full-grid {
    padding:0 1.25rem;
  }
}
