<section class="cases-grid">
        <ul class="cases">
            <li class="case content-grid">
                <div class="content">
                    <small>Eskilstuna Strängnäs Energi & Miljö AB</small>
                    <h3>Så här höjde vi effektiviteten i vår upphandlingsprocess</h3>
                    <p>Processen för att ta fram bra upphandlingar upplevs ofta som komplicerad. Mycket onödigt arbete läggs på att få till ramverket och anpassa affären efter formalian, istället för tvärtom.</p>
                    <a href="/kundcase/eskilstuna-strangnas-energi-miljo/" class="btn btn-green">Läs kundcase</a>
                </div>
        
                <figure class="thumbnail">
                    <img src="/images/prokur-esem_logo.png" alt="Alt">

                </figure>
            </li>

            <!--             
            <li class="case content-grid">
                <div class="content">
                    <small>Eyebrow</small>
                    <h3>En digital tjänst för att ta fram upphandlingar</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In nemo nobis at illum blanditiis aliquid assumenda odio, provident impedit quod optio excepturi. Fuga iure esse, modi delectus quod incidunt laborum.</p>
                    <a href="/kundcase/kundcase-2/" class="btn btn-green">Läs kundcase</a>
                </div>
        
                <figure class="thumbnail">
                    <img src="https://picsum.photos/seed/picsum/504/449" alt="Alt">
                </figure>
            </li> 
            -->
        </ul>
</section>