<section class="cta-section" id="kontakt">
    <div class="content-grid">
        <div class="text-wrapper">
            <div class="section-title">
                <h2>Vill du veta mer?</h2>
                <p>Boka möte med vår expert</p>
            </div>
            <p>Boka ett möte så visar vi vad Prokur kan göra för dig och din organisation.</p>
            <p>Mötet tar ungefär 30 minuter och kan genomföras via videolänk, på plats hos er eller hos oss.</p>
            <p>För att boka eller ställa frågor om Prokur – kontakta oss så återkommer vi inom 24 timmar.</p>
            <div class="pipedriveWebForms" data-pd-webforms="https://webforms.pipedrive.com/f/bXvzkQmG8K3XR11GsRKwfdWJbGhkLi2A8joogJRv3SiS5mDO64RudkdaiRxq26ztRx"><script src="https://webforms.pipedrive.com/f/loader"></script></div>
        </div>
        <div class="image-wrapper">
            <img src="/images/prokur-boka-demo-provperiod-expert.jpg" alt=""/>
        </div>
    </div>
</section>
