<section class="faq-section" id="vanliga-fragor">
    <div class="full-grid">

        <div class="section-title">
            <h2 class="title">Vanliga frågor</h2>
            <p class="subtitle">Hitta ditt svar här</p>
        </div>
    
        <ul class="grid">
            <li>
                <h3>Är Prokur ett upphandlings- eller annonsverktyg?</h3>
                <p>Nej, Prokur är en ny typ av digital tjänst som stöttar dig i arbetet med att skapa innehållet i dina upphandlingsdokument.</p>
            </li>
            <li>
                <h3>Ersätter Prokur vårt nuvarande upphandlings- eller annonsverktyg?</h3>
                <p>Nej, du behöver fortfarande ett verktyg för att kunna publicera dina upphandlingar. Prokur ersätter däremot vissa vanliga tilläggstjänster i dessa verktyg.</p>
            </li>
            <li>
                <h3>Fungerar Prokur tilllsammans med det upphandlings- eller annonsverktyg jag har idag?</h3>
                <p>Ja, Prokur är en fristående digital tjänst som inte kräver integration till något annat system. Det fungerar därför utmärkt att använda tillsammans med de verktyg du använder idag.</p>
            </li>
            <li>
                <h3>Hur använder jag Prokur tillsammans med mitt upphandlings- eller annonsverktyg?</h3>
                <p>Du som användare väljer själv hur du vill kombinera Prokur med dina andra verktyg. Det vanligaste sättet är att ladda upp materialet du genererat med Prokur i ditt upphandlings- eller annonsverktyg.</p>
            </li>
            <li>
                <h3>Hur används Prokur tillsammans med strukturerade dokument?</h3>
                <p>Prokur är en tjänst som bygger på omvänd utvärdering och är framtagen för att skapa och kvalitetssäkra innehållet i dina upphandlingsdokument. Det gör att du bara behöver använda strukturerade dokument för de få uppgifter som krävs från anbudsgivarna.</p>
            </li>
            <li>
                <h3>Förändrar Prokur processen för anbudsgivarna?</h3>
                <p>Prokur hjälper dig skapa upphandlingsdokument som är framtagna för att vara kompletta, tydliga och enkla att förstå för anbudsgivaren – dessutom bygger de på omvänd utvärdering. Det gör processen att lämna anbud enklare och skapar rätt förutsättningar för en lyckad affär.</p>
            </li>
            <li>
                <h3>Vilka är de främsta fördelarna med Prokur?</h3>
                <p>Prokur kombinerar juridik, teknik och logik för att göra det smidigt att skapa och kvalitetssäkra upphandlingar. Det gör att du kan skapa fler upphandlingar, med högre precision och alltid känna dig trygg med att juridiken är uppdaterad och korrekt.</p>
            </li>
        </ul>
    </div>

</section>