<section class="hero-section">
    <div class="hero-inner content-grid">
        <div class="hero-content">
            <h1>Skapa kurerade upphandlingar</h1>
            <p class="preamble">
                Prokur är en digital tjänst som låter dig ta fram upphandlingar med skräddarsytt, uppdaterat och juridiskt korrekt innehåll – kurerat för smidiga affärer. 
            </p>
            <a href="#starta-provperiod" class="btn btn-green">Starta provperiod</a>
        </div>
    </div>
</section>