<section class="prices-section">
    <div class="full-grid">

        <div class="section-title">
            <h2 class="title">Våra paket</h2>
        </div>

        <div class="grid">
            <article class="card">
                <header>
                    <small>Bastjänst</small>
                    <h3>Upphandling Liten</h3>
                </header>
                <p class="price"><strong>4000 kr<span class="prefix">/mån</span></strong></p>
                <p class="info">Passar mindre offentliga verksamheter med 1–2 upphandlare.</p>
                <p class="terms">
                    15 annonserade upphandlingar per år<br> 
                    2 användare
                </p>
                <a href="#kontakt" class="btn btn-green">Boka möte</a>
            </article>
            <article class="card"> 
                <header>
                    <small>Bastjänst</small>
                    <h3>Upphandling Medel</h3>
                </header>
                <p class="price"><strong>7000 kr<span class="prefix">/mån</span></strong></p>
                <p class="info">Passar medelstora offentliga verksamheter med 3–6 upphandlare.</p>
                <p class="terms">
                    40 annonserade upphandlingar per år<br>
                    6 användare
                </p>
                <a href="#kontakt" class="btn btn-green">Boka möte</a>
            </article>
            <article class="card">
                <header>
                    <small>Bastjänst</small>
                    <h3>Upphandling Stor</h3>
                </header>
                <p class="price"><strong>9000 kr<span class="prefix">/mån</span></strong></p>
                <p class="info">Passar stora offentliga verksamheter med upp till 40 upphandlare.</p>
                <p class="terms">
                    Obegränsade annonserade upphandlingar<br>
                    40 användare
                </p>
                <a href="#kontakt" class="btn btn-green">Boka möte</a>
            </article>
        </div>
        <p class="fineprint">Är din verksamhet ännu större eller har andra behov? <a href="#kontakt">Kontakta oss</a> så kan vi skräddarsy ett paket som passar enligt separat offert.</p>
    </div>
</section>