<section class="terms-section" data-theme="{{theme}}">
    <div class="full-grid">   
        <h2>Villkor</h2>
        <ul>
            <li>Alla priser anges i svenska kronor exklusive moms</li>
            <li>Priser anges per organisation (juridisk person) som ska använda tjänsten</li>
            <li>Fakturering sker årsvis, fakturering i förväg</li>
            <li>Prokurs allmänna villkor tillämpas</li>
            <li>Drift, förvaltning och teknisk support ingår</li>
            <li>Kahn Pedersen erbjuder separata villkor för juridisk rådgivning för enskild upphandling/affär</li>
        </ul>
    </div>
</section>
