<section class="three-columns">
    <div class="full-grid">
        <div class="intro-heading">
            <h2>Kurerat av experter</h2>
            <h2>Skapat av dig</h2>
        </div>
        <div class="columns">
            <div class="column column-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="130" height="105" fill="none" viewBox="0 0 130 105">
                    <path fill="#055739" d="M130 45.006 26.005 105 0 59.994 103.995 0 130 45.006Z"/>
                </svg>
                <h3>Anpassat</h3>
                <h3>Med fokus på din affär</h3>
                <p>Prokur skalar bort information som inte rör din affär så du kan lägga din tid och energi på rätt saker. Precision i upphandlingen leder till precision i affären.</p>
            </div>
            <div class="column column-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="114" height="105" fill="none" viewBox="0 0 114 105">
                    <path fill="#C8624E" d="M50.739 102.442c30.842 8.23 54.071-3.756 61.358-30.836 7.286-27.081-6.594-49.837-37.437-58.067L23.92 0 0 88.903l50.739 13.539Z"/>
                </svg>              
                <h3>Uppdaterat</h3>
                <h3>Enligt rättsutveckling och praxis</h3>
                <p>Prokur ser till att du har tillgång till uppdaterade texter och information om senaste rättspraxis. Med rätt information kan du fatta trygga beslut. </p>
            </div>
            <div class="column column-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="105" height="105" fill="none" viewBox="0 0 105 105">
                    <path fill="#8E4637" d="M52.207 0C81.14 0 105 23.828 105 52.793 105 81.757 81.172 105 52.207 105A52.061 52.061 0 0 1 0 52.793C0 23.86 23.276 0 52.207 0Z"/>
                </svg>                          
                <h3>Korrekt</h3>
                <h3>För minskad risk för överprövning</h3>
                <p>Prokur ger dig juridisk rådgivning framtagen av Sveriges ledande upphandlingsadvokater. Med korrekt innehåll i upphandlingen blir vägen till affären kortare.</p>
            </div>
        </div>
    </div>
</section>