.btn {
    font-size:1.25rem;
    line-height:1.1;
    letter-spacing: -0.24px;
    padding: 0.938rem 1.875rem;
    border-radius:50px;
    text-align:center;
    font-family:var(--system-font-bold);
    transition:0.2s all ease-in-out;
    text-decoration:none;
    display:inline-block;
    &.btn-white {
        background:var(--color-full-white);
        color:var(--color-full-black);
        &:hover, &:active {
            background:var(--color-N20);
        }
    }
    &.btn-green {
        background:var(--color-G70);
        color:var(--color-full-white);
        &:hover, &:active {
            background:var(--color-G50);
        }
    }
    &.btn-black {
        background:var(--color-full-black);
        color:var(--color-full-white);
        &:hover, &:active {
            background:var(--color-G60);
        }
    }
}

@media (max-width: 64em) {
    .btn {
        font-size:1.125rem;
        padding:0.813rem 1.75rem;
    }
}